<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>deleteForm page</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <div class="background">
        <h1>Delete Board</h1>
        <form th:action="@{/delete}" method="post" th:object="${boardDeleteDto}">
            <input type="hidden" th:field="*{id}">
            <div>
                <label for="password">Password: </label>
                <input type="password" id="password" th:field="*{password}" required />
                <div>
                    <span th:if="${!msg.isEmpty()}" th:text="${msg}"></span>
                </div>
            </div>

            <input type="submit" id="submitBtn" value="Delete">
        </form>
    </div>
</body>
</html>