<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>board list</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
  <h1>Board List</h1>

  <table th:if="${boardList.size > 0}">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Title</th>
      <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
      <td th:text="${board.id}"></td>
      <td th:text="${board.name}"></td>
      <td>
        <a th:href="@{/view(id=${board.id})}" th:text="${board.title}"></a>
      </td>
      <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}"></td>

    </tr>
    </tbody>
  </table>

  <div th:if="${boardList.totalPages > 1}">
    <ul>
      <li th:each="i : ${#numbers.sequence(1, boardList.totalPages)}">
        <a th:href="@{/list(page=${i})}" th:text="${i}" ></a>
      </li>
    </ul>
  </div>

  <a th:href="@{/writeform}">글쓰기</a>
</body>
</html>